#team {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid rgb(8, 8, 8);
    width: 100%;
  }
  
  #team td, #team th {
    border: 1px solid rgb(238, 11, 11);
    padding: 8px;
  }
  
  #team tr:nth-child(even){background-color: #5f0ef5;}
  
  #team tr:hover {background-color: rgb(2, 250, 196);}
  
  #team th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(21, 5, 252, 0.959);
    color: rgb(251, 255, 4);
  }